
.container {
    color: aliceblue;
    font-size: 15px;
    display: flex;
    margin: 4em;
    justify-content: center;
}
.container a {
    color: aliceblue;
}

.createVideogame {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.90);
    border-radius: 0.5em;
}

.inputs {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    width: 40%;
    border-radius: 0.2em;
    margin-bottom: 0.5em;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    font-family: 'VT323';
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(48, 48, 48);
    background-color: rgb(200, 44, 227);
    border-radius: 0.15em;
    padding: 0.15em;
    margin-bottom: 1em;
}
.btn:hover {
    color: black;
    background-color: rgb(155, 32, 176);
}

.createVideogame select {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    color: rgb(110, 110, 110);
    background: aliceblue;
    border-radius: 0.2em;
    width: 40%;
    margin-bottom: 0.5em;
}