.container {
    color: aliceblue;
    font-size: 15px;
    display: flex;
    margin: 4em;
    justify-content: center;
}

.container a {
    color: aliceblue;
}

.createVideogame {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.90);
    border-radius: 0.5em;
}

.inputs {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    width: 40%;
    border-radius: 0.2em;
    margin-bottom: 0.5em;
    margin-right: auto;
    margin-left: auto;
    background-color: aliceblue;
    color: black;
}
.inputs:hover span {
    cursor: pointer;
}

.btn {
    font-family: 'VT323';
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(48, 48, 48);
    background-color: rgb(200, 44, 227);
    border-radius: 0.15em;
    padding: 0.15em;
    margin-bottom: 1em;
}

.btn:hover {
    color: black;
    background-color: rgb(155, 32, 176);
}

.genresCheckbox {
    position: relative;
    display: block;
    flex-direction: row;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    justify-content: left;
    width: 40%;
    border-radius: 0.15em;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    margin-bottom: 0.5em;
    margin-right: auto;
    margin-left: auto;
}
.genresCheckbox span {
    display: flex;
}
.genresCheckbox:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error {
    font-size: 0.7em;
    color: red;
}

.added {
    margin-bottom: 0.6em;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

.added button {
    color: aliceblue;
    background-color: brown;
    border-radius: 0.3em;
}