.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    width: 19em;
    height: 15em;
    margin: 1em;
    justify-content: end;
}

.card:hover {
    transition: 0.2s ease-out;
    transform: scale(105%);
    opacity: 0.6;
}

.image {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 1em;
    object-fit: cover;
    z-index: 1;
    position: absolute;
}

.text {
    position: relative;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: rgb(34, 34, 34);
    opacity: 0.7;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: left;
}
.text span {
    margin: 0.5em;
}

.title {
    font-size: 1.5em;
    height: 1.3em;
    color: aliceblue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0.2em 0 0 0.3em;
}

.description {
    display: inline-flex;
    justify-content: space-between;
}
.genres {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rating {
    border: 0.1em solid aliceblue;
    border-radius: 0.2em;
    padding: 0.1em;
}

@media (max-width: 1010px) {
    .card {
        width: 16em;
        height: 12em;
    }
    .text span {
        margin: 0.2em;
    }
    .description {
       font-size: 1.4em;
    }
}
@media (max-width: 700px) {
    .description {
       font-size: 1.5em;
    }
}
@media (max-width: 400px) {
    .card {
        font-size: 1.5em;
    }
    .text span {
        margin: 0.2em;
    }
    .description {
       font-size: 1.2em;
    }
}