.container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    justify-content: center;
}

.searchbar {
    font-size: 3.2em;
}
.searchbar input {
    font-family: 'VT323';
    font-size: 1.2em;
    border-radius: 0.15em;
}
.btn {
    font-family: 'VT323';
    font-size: 1em;
    color: rgb(48, 48, 48);
    background-color: rgb(224, 227, 44);
    border: 0.15em solid rgb(187, 189, 37);
    border-radius: 0.15em;
    cursor: pointer;
}
.btn:hover {
    color: black;
    background-color: rgb(187, 189, 37);
    border: 0.15em solid rgb(159, 161, 31);
}