.container {
    color: aliceblue;
    background-color: black;
    font-size: 10px;
    width: 25em;
    border-radius: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container p {
    color: aliceblue;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    font-size: 2.5em;
    justify-content: center;
}
.btn:hover p {
    color: rgb(224, 227, 44);
}

.selectBtn select {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    color: aliceblue;
    background: rgb(34, 34, 34);
    border-radius: 1em;
    width: 10em;
    margin: 1em;
}

.selectBtn select:hover {
    color: yellow;
}