.container {
    color: aliceblue;
    background: rgba(0, 0, 0, 0.90);
    font-size: 10px;
    width: 22em;
    border-radius: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container p {
    color: aliceblue;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    font-size: 2.5em;
    text-align: left;
}
.btn:hover p {
    color: rgb(224, 227, 44);
}

.buttons select {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    color: aliceblue;
    background: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 1em;
    width: 9em;
    margin: 1.2em 0 1.2em 0;
}

select:hover {
    color: rgb(105, 105, 105);
}