
.container {
    color: aliceblue;
    background-color: black;
    font-size: 15px;
    width: 22em;
    border-radius: 0.5em;
}
.container a {
    color: aliceblue;
}

.buttons {
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    margin-left: 0.6em;
}

.btn {
    display: flex;
    flex-direction: row;
}
.btn img {
    display: none;
    width: 1.1em;
}
.btn:hover img {
    display: flex;
    flex-direction: row;
}
.btn:hover a,
.btn a.active {
    display: flex;
    color: rgb(224, 227, 44);
}