.container {
    color: aliceblue;
    font-size: 15px;
    display: flex;
    margin: 4em;
    justify-content: center;
}

.gameDetail {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.90);
    border-radius: 0.5em;
}
