body {
    background-image: url(../../img/bg-videogame.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    margin-top: 5%;
    justify-content: center;
}

.searchbar {
    font-size: 3.2em;
}
.searchbar h1 {
    font-size: 2em;
    margin-bottom: 0;
    background: linear-gradient(45deg, #C669FF, #6969FF, #4c96e6, #2c74c1);
    animation: hue-rotate 2s linear infinite alternate;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@keyframes hue-rotate {
    to  { filter: hue-rotate(90deg); }
}

.home {
    font-size: 2em;
}
.btn {
    font-weight: bold;
    color: rgb(48, 48, 48);
    background-color: rgb(200, 44, 227);
    border-radius: 0.15em;
    padding: 0.15em;
}
.btn:hover {
    color: black;
    background-color: rgb(155, 32, 176);
}
