.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 2em 0 2em;
    color: aliceblue;
    font-size: 15px;
}
.container a {
    color: aliceblue;
}

.title {
    font-family: 'VT323','Arial';
    font-size: 4.5em;  
    margin: 0;
}
.title:hover {
    color: rgb(224, 227, 44);
}

.buttons {
    display: flex;
    flex-direction: row;
    font-size: 2.5em;
}

.btn {
    display: inline-block;
    margin: 0 0.5em 0 0.5em;
}
.btn img {
    display: none;
    width: 1.1em;
}
.btn:hover img {
    display: block;
}
.btn:hover a,
.btn a.active {
    display: flex;
    color: rgb(224, 227, 44);
}