.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px 0 30px;
    color: aliceblue;
}
.nav-container a {
    color: aliceblue;
}

.title {
    font-family: 'VT323';
    font-size: 70px;  
    margin: 0;
}
.title:hover {
    color: rgb(224, 227, 44);
}

.buttons {
    display: flex;
    flex-direction: row;
    font-size: 40px;
}

.btn {
    display: inline-block;
    margin: 0 20px 0 20px;
}
.btn img {
    display: none;
    width: 41px;
}
.btn:hover img {
    display: block;
}
.btn:hover a,
.btn a.active {
    display: flex;
    color: rgb(224, 227, 44);
}